.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("../src/HomeBg.jpg");
  background-attachment: fixed;
  color: rgb(31, 31, 31);
  font-size: 150%;
  background-repeat: no-repeat;
  background-size: cover;
}